$tn-accent-color: #97CA49;
$tn-accent-color-hover: #B9E166;
/*************BEGIN*************/

/***DocDock Styling Overrides***/

/*************BEGIN*************/

header:after {
    background: url("") 0 0/100% no-repeat;
    background-color: $tn-accent-color;
}

article>aside .menu .dd-item.active>div * {
    font-weight: bold;
    border-bottom: 2px solid $tn-accent-color;
}

article section.page h1:first-of-type {
    font-family: "Roboto", "Arial", sans-serif;
}

article section.page img {
    margin: 0;
}

/* article section.page table td{
    border-style: none;
} */

/*************END***************/

/***DocDock Styling Overrides***/

/*************END***************/

/**** Tab Styling ****/

.tab {
    overflow: hidden;
    border-bottom: 2px solid $tn-accent-color;
    padding: 0 15px;
    font-weight: 700;
    color: #333;
    /* Style the buttons that are used to open the tab content */
    button {
        float: left;
        /* margin: 4px 0; */
        border-bottom: none;
        font-weight: 700;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }
    /* Change background color of buttons on hover */
    button:hover {
        background-color: $tn-accent-color-hover;
    }
    /* Create an active/current tablink class */
    button.active {
        background-color: $tn-accent-color;
        color: white;
    }
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 30px 15px;
}

/**** Tab Styling END ****/

/**** Color Palette Component Styling *****/

.color-palette-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.color-palette-tile {
    width: 100px;
    height: 100px;
    background-color: white;
}

.color-palette-tile p {
    width: 100px;
    margin: auto;
}

.color-palette-table {
    overflow-x: auto;
}

.color-palette-table table {
    border-style: none;
    text-align: center;
    vertical-align: middle;
    height: 150px;
}

.color-palette-table th,
td {
    border-style: none;
    color: white;
    font-weight: 700;
}

/**** Color Palette Component Styling END *****/

/**** Component Status Legend *****/

.component-status-legend {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
    }
    img {
        margin: 5px;
        float: left;
    }
    p {
        margin: 5px;
    }
}