/*************BEGIN*************/
/***DocDock Styling Overrides***/
/*************BEGIN*************/


header:after {
    background: url("") 0 0/100% no-repeat;
    background-color: #97CA49;
}
    

article > aside .menu .dd-item.active > div * {
    font-weight: bold;
    border-bottom: 2px solid #97CA49; 
}

article section.page h1:first-of-type {
    font-family: "Roboto", "Arial", sans-serif;
}

article section.page img {
    margin: 0;
}
/*************END***************/
/***DocDock Styling Overrides***/
/*************END***************/


/**** Tab Styling ****/
.tab {
    overflow: hidden;
    border-bottom: 2px solid #97CA49;
    padding: 0 15px;
    font-weight: 700;
    color: #333;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    float: left;
    /* margin: 4px 0; */
    border-bottom: none;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #B9E166;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #97CA49;
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #43B5A2; */
    border-top: none;
}
/**** Tab Styling END ****/

.color-palette-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.color-palette-tile {
    width: 100px;
    height: 100px;
    background-color: white;
}

.color-palette-tile p {
    width: 100px;
    margin: auto;
}

.color-palette-table{
    overflow-x: auto;
}

.color-palette-table table {
    border-style: none;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    color: white;
}

/**** Color Palette Component Styling *****/